@include b(space) {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    // width: 100%;

    &.is-wrap {
        flex-wrap: wrap;
    }

    @include m(vertical) {
        flex-direction: column;
    }

    @include e(spacer) {
        line-height: 1.2;
    }
}