@use 'mixin/bem.scss' as *;
@use 'mixin/function.scss' as *;
@use 'common/config.scss' as *;

@include b(footer) {
    --#{$prefix}-footer-height: 60px;

    height: getCssVar(footer-height);
    box-sizing: border-box;
    flex-shrink: 0;
}